In [1]:
# download daostack/daos.csv from https://www.kaggle.com/datasets/daviddavo/dao-analyzer

import pandas as pd
df = pd.read_csv('daos.csv')
# drop unnmaed col
df = df.drop(df.columns[0], axis=1)
# add platform = daostack
df['platform'] = 'daostack'
df.head()

,network,id,name,register,nativeToken,nativeReputation,dao,platform
0,mainnet,0x0b93ba560283350d4216f29dc57e15df38d0eace,CuraDAO,registered,0x2d3ca07e3c36b9aeec572a3c625cb45a7a88984a,0xe2c2bbf97599c448aba4561006c8d5929ac08e13,0x0b93ba560283350d4216f29dc57e15df38d0eace,daostack
1,mainnet,0x15344ecdc2c4edfcb092e284d93c20f0529fd8a6,dOrg,registered,0x3b2d0c1b652d5fad3a43f4ada7265371eac050d4,0x53757c07fa372d1ac873c701dccfd1ebcc563e0e,0x15344ecdc2c4edfcb092e284d93c20f0529fd8a6,daostack
2,mainnet,0x273d0f686a53a49a0fba2a801566b19f9aaf8fcd,PrimeDAO,registered,0x40cb13628f087dfcfa6d6c717e9fbf5d5b8bd964,0x4352a94ccb3ea07e16734f66a94e94e474a50b5f,0x273d0f686a53a49a0fba2a801566b19f9aaf8fcd,daostack
3,mainnet,0x294f999356ed03347c7a23bcbcf8d33fa41dc830,Genesis Alpha,registered,0xf88bfeab7217376f33db368a3d3dc11b1433bdfb,0x30412f4c06343d65c06b5a0bba6821cf37e605fa,0x294f999356ed03347c7a23bcbcf8d33fa41dc830,daostack
4,mainnet,0x2b8c70fffda7f3d7667f7cfede1429313886329c,ETHGlobal,registered,0xe5ac9a487f366b6092df1ab59209c4ee4f26236d,0x45413ccd9870c89980dbae9c11315a8a1c1f3f2f,0x2b8c70fffda7f3d7667f7cfede1429313886329c,daostack

In [2]:
# drop network and register
df = df.drop(['network', 'register'], axis=1)
# rename id to platform_id
df = df.rename(columns={'id': 'platform_id'})
df = df[['platform', 'platform_id', 'name']]
df.head()

   platform                                 platform_id           name
0  daostack  0x0b93ba560283350d4216f29dc57e15df38d0eace        CuraDAO
1  daostack  0x15344ecdc2c4edfcb092e284d93c20f0529fd8a6           dOrg
2  daostack  0x273d0f686a53a49a0fba2a801566b19f9aaf8fcd       PrimeDAO
3  daostack  0x294f999356ed03347c7a23bcbcf8d33fa41dc830  Genesis Alpha
4  daostack  0x2b8c70fffda7f3d7667f7cfede1429313886329c      ETHGlobal

In [3]:
# make website and additional columns nans
import numpy as np
df['website'] = np.nan
df['additional'] = np.nan
df.head()

,platform,platform_id,name,website,additional
0,daostack,0x0b93ba560283350d4216f29dc57e15df38d0eace,CuraDAO,NaN,NaN
1,daostack,0x15344ecdc2c4edfcb092e284d93c20f0529fd8a6,dOrg,NaN,NaN
2,daostack,0x273d0f686a53a49a0fba2a801566b19f9aaf8fcd,PrimeDAO,NaN,NaN
3,daostack,0x294f999356ed03347c7a23bcbcf8d33fa41dc830,Genesis Alpha,NaN,NaN
4,daostack,0x2b8c70fffda7f3d7667f7cfede1429313886329c,ETHGlobal,NaN,NaN

### now lets get the no. of proposals per dao

In [4]:
# read proposals as proposals_df
proposals_df = pd.read_csv('proposals.csv')
# keep only id and dao
proposals_df = proposals_df[['id', 'dao']]
proposals_df

,id,dao
0,0x0025c38d987acba1f1d446d3690384327ebe06d15f1f...,0x294f999356ed03347c7a23bcbcf8d33fa41dc830
1,0x0033a337b620add50be9ba0fff1128ab866ece51cfdd...,0x39757e7cdb7022c3829195d57b29428d79593c9d
2,0x003c109411e96e5607ce609278536262e12afdaa65ab...,0x519b70055af55a007110b4ff99b0ea33071c720a
3,0x0071c649968f7939fc9729c5dc25a8ae3f50dc86220a...,0x8990e11b69403ea53ef2b32434bbd7dbf84b5234
4,0x007eaf0fc8d6ae35ba3f28bc7cf4b34af659db8161d4...,0x440583455bcd85ab2bd429c015d3aabcae135f0a
...,...,...
3566,0xfeea9d463a997be8e640ecfdc7b8179e7424ebe8c0d8...,0xe716ec63c5673b3a4732d22909b38d779fa47c3f
3567,0xff13cd113eda8ffefaba5b8cb4b7126a169a1ca74873...,0x4bdf38ec4528691025bfcf9fca66ed1ccca4034b
3568,0xff32174f3f2ff80955d5075937f72d07f5bc18364946...,0xe716ec63c5673b3a4732d22909b38d779fa47c3f
3569,0xff6c045d9ab8f514b7dce6317ac1ff16786cad69bd4a...,0xe716ec63c5673b3a4732d22909b38d779fa47c3f
3570,0xffc0f4a64c8ec043238ca787e58177c2e798360c2989...,0xe716ec63c5673b3a4732d22909b38d779fa47c3f

In [5]:
# group by dao, count
proposals_df = proposals_df.groupby('dao').count()
# flatten and rename id to proposals_count
proposals_df = proposals_df.reset_index()
proposals_df = proposals_df.rename(columns={'id': 'proposals_count'})
proposals_df.head()

                                          dao  proposals_count
0  0x0b93ba560283350d4216f29dc57e15df38d0eace               49
1  0x14b0b26210c685ec89bb847d5effed1098a2dc52                2
2  0x15344ecdc2c4edfcb092e284d93c20f0529fd8a6              127
3  0x15c73b5bb21d6d2852dab17cef9b5ec84eaa4cc0                2
4  0x24ea2983e3c53ddd873e4d07a3fe7f523e597910                1

In [6]:
# value counts of proposals_df
proposals_df['proposals_count'].value_counts()

1       13
4        7
2        6
3        4
6        3
22       2
7        2
49       2
19       1
127      1
21       1
1438     1
43       1
40       1
86       1
8        1
56       1
16       1
30       1
918      1
37       1
387      1
82       1
13       1
11       1
Name: proposals_count, dtype: int64

In [7]:
# join proposals_df to df
df = df.merge(proposals_df, how='left', left_on='platform_id', right_on='dao', validate='1:1')
# drop dao
df = df.drop('dao', axis=1)
df.head()

,platform,platform_id,name,website,additional,proposals_count
0,daostack,0x0b93ba560283350d4216f29dc57e15df38d0eace,CuraDAO,NaN,NaN,49.0
1,daostack,0x15344ecdc2c4edfcb092e284d93c20f0529fd8a6,dOrg,NaN,NaN,127.0
2,daostack,0x273d0f686a53a49a0fba2a801566b19f9aaf8fcd,PrimeDAO,NaN,NaN,37.0
3,daostack,0x294f999356ed03347c7a23bcbcf8d33fa41dc830,Genesis Alpha,NaN,NaN,387.0
4,daostack,0x2b8c70fffda7f3d7667f7cfede1429313886329c,ETHGlobal,NaN,NaN,19.0

In [8]:
# how many nans in proposals_count
df['proposals_count'].isna().sum()
# fill nans with 0
df['proposals_count'] = df['proposals_count'].fillna(0)
df.head()

,platform,platform_id,name,website,additional,proposals_count
0,daostack,0x0b93ba560283350d4216f29dc57e15df38d0eace,CuraDAO,NaN,NaN,49.0
1,daostack,0x15344ecdc2c4edfcb092e284d93c20f0529fd8a6,dOrg,NaN,NaN,127.0
2,daostack,0x273d0f686a53a49a0fba2a801566b19f9aaf8fcd,PrimeDAO,NaN,NaN,37.0
3,daostack,0x294f999356ed03347c7a23bcbcf8d33fa41dc830,Genesis Alpha,NaN,NaN,387.0
4,daostack,0x2b8c70fffda7f3d7667f7cfede1429313886329c,ETHGlobal,NaN,NaN,19.0

In [9]:
# make proposals_count int
df['proposals_count'] = df['proposals_count'].astype(int)

In [10]:
df

,platform,platform_id,name,website,additional,proposals_count
0,daostack,0x0b93ba560283350d4216f29dc57e15df38d0eace,CuraDAO,NaN,NaN,49
1,daostack,0x15344ecdc2c4edfcb092e284d93c20f0529fd8a6,dOrg,NaN,NaN,127
2,daostack,0x273d0f686a53a49a0fba2a801566b19f9aaf8fcd,PrimeDAO,NaN,NaN,37
3,daostack,0x294f999356ed03347c7a23bcbcf8d33fa41dc830,Genesis Alpha,NaN,NaN,387
4,daostack,0x2b8c70fffda7f3d7667f7cfede1429313886329c,ETHGlobal,NaN,NaN,19
5,daostack,0x3324b516df92e78463d8b0616dd146cf6c58b0b9,efxDAO,NaN,NaN,16
6,daostack,0x39757e7cdb7022c3829195d57b29428d79593c9d,Trips Community DAO,NaN,NaN,6
7,daostack,0x440583455bcd85ab2bd429c015d3aabcae135f0a,PolkaDAO,NaN,NaN,82
8,daostack,0x45cf7d5c503b6417d570929368b8f4c4567ad9eb,BuffiDAO,NaN,NaN,1
9,daostack,0x519b70055af55a007110b4ff99b0ea33071c720a,dxDAO,NaN,NaN,918
10,daostack,0x5f667f138d6c5559a0966c241c867feeaea4c28c,HackerDAO A,NaN,NaN,1
11,daostack,0x61151f7ef32c920794ed89b2545f1672266d6420,The General Store DAO,NaN,NaN,30
12,daostack,0x6191cb94a29a3ca870adea25cd72e995303c2848,Fortmatic DAO,NaN,NaN,0
13,daostack,0x63df13b12bac071ba31b6599b8d97c82cb96a768,The Illuminati,NaN,NaN,4
14,daostack,0x6bee9b81e434f7afce72a43a4016719315069539,Kyber DAO Exp#2,NaN,NaN,56
15,daostack,0x70c36947837b43665ed5ea85c112aa0f72cf9fb3,Psychedelic Society DAO,NaN,NaN,22
16,daostack,0x8709962c7469fda4913ba8867964d7e592ec2c69,TuneDAO,NaN,NaN,1
17,daostack,0x8990e11b69403ea53ef2b32434bbd7dbf84b5234,FestDAO,NaN,NaN,86
18,daostack,0xafdd1eb2511cd891acf2bff82dabf47e0c914d24,1UP,NaN,NaN,40
19,daostack,0xe56b4d8d42b1c9ea7dda8a6950e3699755943de7,necDAO,NaN,NaN,43
20,daostack,0xe8e1d0f1783b22ff409deb14fa5acc9cce2a3d15,DAOfund,NaN,NaN,49
21,daostack,0xee7fa430a7e513d3df962ed0c0e285bc6f87fc24,CENNZnet Grants DAO,NaN,NaN,21
22,daostack,0xf931ff012cbff471cccb90a784e3e88b512c890a,DetroitDAO,NaN,NaN,11
23,daostack,0x14b0b26210c685ec89bb847d5effed1098a2dc52,bZx Fulcrum DAO,NaN,NaN,2
24,daostack,0x15c73b5bb21d6d2852dab17cef9b5ec84eaa4cc0,Celer Network,NaN,NaN,2
25,daostack,0x1ea9426f006a6f335f753ccc4ee1d11bbd67b53f,Liquality DAO,NaN,NaN,0
26,daostack,0x24ea2983e3c53ddd873e4d07a3fe7f523e597910,PegaSysDAO,NaN,NaN,1
27,daostack,0x2b0f5e7de201068d9fb917ab86dc1c731c274411,DAOstack DAO,NaN,NaN,13
28,daostack,0x2cec92ed4d1a110032a4a7e5e2abf64938cf1455,Bancor DAO,NaN,NaN,1
29,daostack,0x2e9d79165ddb22e67742789cc553e95722f96f0b,Shapeshift DAO,NaN,NaN,1
30,daostack,0x32c3bc85fa32f958323ad2c0a51839021a0f1ac2,Secret DAO,NaN,NaN,6
31,daostack,0x3d91c948d5d95ee28811df26586d3268fc32223e,Unstoppable Domains DAO,NaN,NaN,7
32,daostack,0x4ad0b1e6320c365ddcee20018e6608b0ad0d35b5,KiaOraDAO,NaN,NaN,1
33,daostack,0x4b88dc0533b983cfd4a042b93cdd587cba9a28e2,Lendroid Taleb,NaN,NaN,4
34,daostack,0x4bdf38ec4528691025bfcf9fca66ed1ccca4034b,Cosmos Ethermint DAO,NaN,NaN,3
35,daostack,0x5f354aa66cf9c74699afee180853b557e2a0acb6,MakerDAODAO,NaN,NaN,4
36,daostack,0x6ba5472c9c3955c207365fba4e67918c949cc4df,The Graph’s Space Traveler DAO,NaN,NaN,4
37,daostack,0x6f88ff788f1fa6872057951b85830c8e44916d91,eth2,NaN,NaN,2
38,daostack,0x7543854e6f4d973aba1725a26e95f853c7bd24b2,Burner DAO,NaN,NaN,1
39,daostack,0x7b0b37534ff4dd35ced569b24b09995c117f3cfd,ETC Labs DAO,NaN,NaN,1
40,daostack,0x7c36603e6e3e23bdb4f2af94f530d6c6bf2a4482,DappHero DAO,NaN,NaN,4
41,daostack,0x804dbac130778ec5b769115dc6bea9ff85237a07,Advance Colorado DAO,NaN,NaN,3
42,daostack,0x83b1b6eb8ce069b8ea8d4a2b99eaa4f4aa7aa3e2,iExec DAO,NaN,NaN,2
43,daostack,0x8766cab508a87536b8691ace8814b517b95f7b75,3Box,NaN,NaN,8
44,daostack,0x892835aaa7694a3746e8c3342fad0ba03040b913,Metamask,NaN,NaN,2
45,daostack,0x8e52aca24a59b146b11ece2c596cf6d8828cdaa9,Splunk and Whiteblock,NaN,NaN,4
46,daostack,0x993c67b8830dac1bfda09e8be0dce8553cf84271,InterPlanetary DAO,NaN,NaN,7
47,daostack,0xb3d9283ec311ea93ed9e56dce1cf7a15da071512,QuorumDAO,NaN,NaN,4
48,daostack,0xba754aed4afb3cd2e7a865913cea619bd51bd65b,MythX DAO,NaN,NaN,1
49,daostack,0xc09ae92f62d0484ea68151eb2c9d50f71ec475ff,Fortmatic DAO,NaN,NaN,1
50,daostack,0xc5d0dd92b9277f45085f66b2bef9380426cd3419,Chainlink EthDenver DAO,NaN,NaN,3
51,daostack,0xc9dab2f97aa454a2264fd0d7b3718579d5f01eba,Infura Gateway DAO,NaN,NaN,2
52,daostack,0xe248a76a4a84667c859eb51b9af6dea29e52f139,BuffiDAO,NaN,NaN,22
53,daostack,0xe716ec63c5673b3a4732d22909b38d779fa47c3f,xDXdao,NaN,NaN,1438
54,daostack,0xeed417f80cd918ce65b8e141daa00704aef98a90,Gitcoin: Shillin and Chillin DAO,NaN,NaN,1
55,daostack,0xef25b64d4bdbe23f1bb5e557b5d24f12c46da0bc,KyberHackDAO,NaN,NaN,6
56,daostack,0xf902172bd2f34a6cf86d424f0440836d2d89afeb,Unilogin,NaN,NaN,3
57,daostack,0xfd4a08ba1863718d92467ad05f13b352c3ae2cfd,Arbitrum DAO,NaN,NaN,1

### add votes count

In [11]:
# read votescsv as votes_df
votes_df = pd.read_csv('votes.csv')
# keep only voter and dao
votes_df = votes_df[['voter', 'dao']]
votes_df

,voter,dao
0,0x91628ddc3a6ff9b48a2f34fc315d243eb07a9501,0x519b70055af55a007110b4ff99b0ea33071c720a
1,0xabd238fa6b6042438fbd22e7d398199080b4224c,0x519b70055af55a007110b4ff99b0ea33071c720a
2,0x13a0b42b9c180065510615972858bf41d1972a55,0x519b70055af55a007110b4ff99b0ea33071c720a
3,0xba527d8301178a03a6993ab5a08cab06b975d5ae,0x294f999356ed03347c7a23bcbcf8d33fa41dc830
4,0xfc898b18a70ce49579f8d79a32e29928c15b4bc8,0xe56b4d8d42b1c9ea7dda8a6950e3699755943de7
...,...,...
12323,0x6f7c864cc0fc9fb2fe26f53c031d3deec0b8d7d5,0xe716ec63c5673b3a4732d22909b38d779fa47c3f
12324,0x5a3992044a131c2f633394065c13ba1b33cdffd9,0xe716ec63c5673b3a4732d22909b38d779fa47c3f
12325,0xc4a69fbf4511a1377161834cb7a3b8766953db02,0xe716ec63c5673b3a4732d22909b38d779fa47c3f
12326,0xd97672177e0673227fa102c91bfa8b8cfa825141,0xe716ec63c5673b3a4732d22909b38d779fa47c3f
12327,0x9ae035dee8318a9b9fd080dda31d7524098f65ef,0xe716ec63c5673b3a4732d22909b38d779fa47c3f

In [12]:
votes_df = votes_df.groupby('dao').count()
# flatten and rename voter to votes_count
votes_df = votes_df.reset_index()
votes_df = votes_df.rename(columns={'voter': 'votes_count'})
votes_df.head()

                                          dao  votes_count
0  0x0b93ba560283350d4216f29dc57e15df38d0eace          103
1  0x14b0b26210c685ec89bb847d5effed1098a2dc52            1
2  0x15344ecdc2c4edfcb092e284d93c20f0529fd8a6          336
3  0x15c73b5bb21d6d2852dab17cef9b5ec84eaa4cc0            2
4  0x24ea2983e3c53ddd873e4d07a3fe7f523e597910            1

In [13]:
# join votes_df to df
df = df.merge(votes_df, how='left', left_on='platform_id', right_on='dao', validate='1:1')
# drop dao
df = df.drop('dao', axis=1)
df.head()

,platform,platform_id,name,website,additional,proposals_count,votes_count
0,daostack,0x0b93ba560283350d4216f29dc57e15df38d0eace,CuraDAO,NaN,NaN,49,103.0
1,daostack,0x15344ecdc2c4edfcb092e284d93c20f0529fd8a6,dOrg,NaN,NaN,127,336.0
2,daostack,0x273d0f686a53a49a0fba2a801566b19f9aaf8fcd,PrimeDAO,NaN,NaN,37,30.0
3,daostack,0x294f999356ed03347c7a23bcbcf8d33fa41dc830,Genesis Alpha,NaN,NaN,387,2203.0
4,daostack,0x2b8c70fffda7f3d7667f7cfede1429313886329c,ETHGlobal,NaN,NaN,19,74.0

In [14]:
# how many nans in votes_count
df['votes_count'].isna().sum()
# fill nans with 0
df['votes_count'] = df['votes_count'].fillna(0)
df.head()

,platform,platform_id,name,website,additional,proposals_count,votes_count
0,daostack,0x0b93ba560283350d4216f29dc57e15df38d0eace,CuraDAO,NaN,NaN,49,103.0
1,daostack,0x15344ecdc2c4edfcb092e284d93c20f0529fd8a6,dOrg,NaN,NaN,127,336.0
2,daostack,0x273d0f686a53a49a0fba2a801566b19f9aaf8fcd,PrimeDAO,NaN,NaN,37,30.0
3,daostack,0x294f999356ed03347c7a23bcbcf8d33fa41dc830,Genesis Alpha,NaN,NaN,387,2203.0
4,daostack,0x2b8c70fffda7f3d7667f7cfede1429313886329c,ETHGlobal,NaN,NaN,19,74.0

In [15]:
# make votes_count int
df['votes_count'] = df['votes_count'].astype(int)
df.head()

,platform,platform_id,name,website,additional,proposals_count,votes_count
0,daostack,0x0b93ba560283350d4216f29dc57e15df38d0eace,CuraDAO,NaN,NaN,49,103
1,daostack,0x15344ecdc2c4edfcb092e284d93c20f0529fd8a6,dOrg,NaN,NaN,127,336
2,daostack,0x273d0f686a53a49a0fba2a801566b19f9aaf8fcd,PrimeDAO,NaN,NaN,37,30
3,daostack,0x294f999356ed03347c7a23bcbcf8d33fa41dc830,Genesis Alpha,NaN,NaN,387,2203
4,daostack,0x2b8c70fffda7f3d7667f7cfede1429313886329c,ETHGlobal,NaN,NaN,19,74

In [16]:
# reorder columns
df = df[['platform', 'platform_id', 'name', 'website', 'additional', 'votes_count', 'proposals_count']]
df.head()

,platform,platform_id,name,website,additional,votes_count,proposals_count
0,daostack,0x0b93ba560283350d4216f29dc57e15df38d0eace,CuraDAO,NaN,NaN,103,49
1,daostack,0x15344ecdc2c4edfcb092e284d93c20f0529fd8a6,dOrg,NaN,NaN,336,127
2,daostack,0x273d0f686a53a49a0fba2a801566b19f9aaf8fcd,PrimeDAO,NaN,NaN,30,37
3,daostack,0x294f999356ed03347c7a23bcbcf8d33fa41dc830,Genesis Alpha,NaN,NaN,2203,387
4,daostack,0x2b8c70fffda7f3d7667f7cfede1429313886329c,ETHGlobal,NaN,NaN,74,19

In [17]:
# save to csv
df.to_csv('daostack_deployments.csv', index=False)