In [173]:
import pandas as pd

# load 01_messari_daos/messari_proposal_ids
messari = pd.read_csv('../01_messari_daos/messari_proposal_ids.csv')

# load 01_deepdao_daos/1687523727_deepdao_daos.csv
deepdao = pd.read_csv('../01_deepdao_daos/1687523727_deepdao_daos.csv')

In [174]:
messari

           snapshot_id  count  withtally_id
0              ndx.eth      5           NaN
1           snxgov.eth     25           NaN
2     snapshot.dcl.eth     26           NaN
3    ampleforthorg.eth      4           NaN
4           snxgov.eth    348           NaN
..                 ...    ...           ...
116                NaN     15          idle
117                NaN     13       indexed
118                NaN     22  pooltogether
119                NaN      3       radicle
120                NaN      4          rari

[121 rows x 3 columns]

In [175]:
deepdao

,deepdaoDaoId,deepdaoOrganizationId,name,platformTitle,platformId,website,mostRecentProposalDate,aum
0,d3b7fce7-4715-4ad1-a316-412b1293eaef,004799ea-ef9e-432e-ae94-55a60f754f91,rugpullindex,Snapshot,11,https://snapshot.org/#/rugpullindex.eth,2022-03-05T04:53:53.000Z,NaN
1,a1e8e3cd-3bae-4239-8586-bd62d7c0fa0c,004d7017-ab61-40d3-aa6d-b546bb3dcd86,Komet Finance,Snapshot,11,https://snapshot.org/#/komet.eth,2021-11-26T13:33:20.000Z,NaN
2,4ce45202-c19f-4df9-9199-0fea841b4fc3,006ada45-ce0c-4b85-a7a2-c9a8431f0f1d,YZY DAO,Snapshot,11,https://snapshot.org/#/yzydao.eth,2021-03-10T05:00:08.000Z,NaN
3,1031de2f-8d4e-469d-822a-15f5e34ed9a3,006b3476-4edf-47c4-bf23-25b44e55a0f3,LimitSwap,Snapshot,11,https://snapshot.org/#/limitswap,2021-04-02T03:03:30.000Z,NaN
4,7e0526c4-ff69-49a2-a16e-26d24cb798d2,00884f10-d129-4e0a-9440-68c72b95ab09,Frog Nation DAO,Snapshot,11,https://snapshot.org/#/frognationdao.eth,2022-02-10T18:58:48.000Z,NaN
...,...,...,...,...,...,...,...,...
2222,be30732f-f510-4797-a741-f1224c4b2ad7,ff8ee647-fe8f-4cec-a1d8-85111b2a2af9,Parrot DeFi DAO,Snapshot,11,https://snapshot.org/#/parrotdefi.eth,2021-12-09T15:55:54.000Z,NaN
2223,02e4c0f9-95d2-4285-8782-92563f92b606,ff9d1702-79c7-414b-9e74-5ad2475a1e9c,Yioreea,Snapshot,11,https://snapshot.org/#/yioreea.eth,2022-03-01T13:51:49.000Z,NaN
2224,58a8aeaf-e2aa-41f1-a86a-3e823518fd86,ffe042c0-86b7-4cdd-ac2d-8747a268fe70,MahaDAO,Snapshot,11,https://snapshot.org/#/maha.eth,2022-03-13T12:24:59.000Z,NaN
2225,5ddd956f-5bb2-4061-8862-18022b5a7d91,ffe042c0-86b7-4cdd-ac2d-8747a268fe70,MahaDAO,Snapshot,11,https://snapshot.org/#/mahapolygon.eth,2021-08-10T14:52:49.000Z,NaN
2226,aa2fc373-2712-4ae7-a27e-3fbd5298c406,ffe042c0-86b7-4cdd-ac2d-8747a268fe70,Maha DAO,Governor,6,NaN,2022-09-26T06:54:59.000Z,53361.551813

In [176]:
# deepdao drop platformId, name, deepdaoOrganizationId, deepdaoDaoId, mostRecentProposalDate, aum
deepdao = deepdao.drop(columns=['platformId', 'deepdaoOrganizationId', 'deepdaoDaoId', 'mostRecentProposalDate', 'aum'])
# rename platformTitle to platformType
deepdao = deepdao.rename(columns={'platformTitle': 'platformType'})
# remove duplicate websites but keep nulls
deepdao = deepdao.drop_duplicates(subset=['name', 'website'])
deepdao

                 name platformType                                   website
0        rugpullindex     Snapshot   https://snapshot.org/#/rugpullindex.eth
1       Komet Finance     Snapshot          https://snapshot.org/#/komet.eth
2             YZY DAO     Snapshot         https://snapshot.org/#/yzydao.eth
3           LimitSwap     Snapshot          https://snapshot.org/#/limitswap
4     Frog Nation DAO     Snapshot  https://snapshot.org/#/frognationdao.eth
...               ...          ...                                       ...
2222  Parrot DeFi DAO     Snapshot     https://snapshot.org/#/parrotdefi.eth
2223          Yioreea     Snapshot        https://snapshot.org/#/yioreea.eth
2224          MahaDAO     Snapshot           https://snapshot.org/#/maha.eth
2225          MahaDAO     Snapshot    https://snapshot.org/#/mahapolygon.eth
2226         Maha DAO     Governor                                       NaN

[2211 rows x 3 columns]

In [177]:
# messari set platformType to Snapshot if snapshot_id is not null
messari.loc[messari['snapshot_id'].notnull(), 'platformType'] = 'Snapshot'
# same for tally
messari.loc[messari['withtally_id'].notnull(), 'platformType'] = 'Tally'
# combine snapshot_id and withtally_id into platformId
messari['platformId'] = messari['snapshot_id'].fillna(messari['withtally_id'])
# drop snapshot_id and withtally_id
messari = messari.drop(columns=['snapshot_id', 'withtally_id'])
# drop count
messari = messari.drop(columns=['count'])
messari

    platformType         platformId
0       Snapshot            ndx.eth
1       Snapshot         snxgov.eth
2       Snapshot   snapshot.dcl.eth
3       Snapshot  ampleforthorg.eth
4       Snapshot         snxgov.eth
..           ...                ...
116        Tally               idle
117        Tally            indexed
118        Tally       pooltogether
119        Tally            radicle
120        Tally               rari

[121 rows x 2 columns]

In [178]:
# extract snapshot id from website
import numpy as np

def get_snapshot_id(website):
    # format https://snapshot.org/#/<snapshot_id>/proposal/<proposal_id>
    if pd.isnull(website): return ''
    if 'snapshot.org/#/' in website:
        return website.split('snapshot.org/#/')[1].split('/')[0]
    else:
        return np.nan
    
deepdao['platformId'] = deepdao['website'].apply(get_snapshot_id)
deepdao

,name,platformType,website,platformId
0,rugpullindex,Snapshot,https://snapshot.org/#/rugpullindex.eth,rugpullindex.eth
1,Komet Finance,Snapshot,https://snapshot.org/#/komet.eth,komet.eth
2,YZY DAO,Snapshot,https://snapshot.org/#/yzydao.eth,yzydao.eth
3,LimitSwap,Snapshot,https://snapshot.org/#/limitswap,limitswap
4,Frog Nation DAO,Snapshot,https://snapshot.org/#/frognationdao.eth,frognationdao.eth
...,...,...,...,...
2222,Parrot DeFi DAO,Snapshot,https://snapshot.org/#/parrotdefi.eth,parrotdefi.eth
2223,Yioreea,Snapshot,https://snapshot.org/#/yioreea.eth,yioreea.eth
2224,MahaDAO,Snapshot,https://snapshot.org/#/maha.eth,maha.eth
2225,MahaDAO,Snapshot,https://snapshot.org/#/mahapolygon.eth,mahapolygon.eth
2226,Maha DAO,Governor,NaN,

In [179]:
# show deepdao rows with website null
deepdao[deepdao['website'].isnull()].groupby('platformType')['name'].count()

platformType
Aragon              35
AssetsOnly           5
Governor            39
Moloch / Daohaus    17
Realms              15
Snapshot             9
Substrate           27
Name: name, dtype: int64

## *Aragon matching (pre-merging deepdao and messari)

## Merging

In [180]:
# outer join
combined = pd.merge(messari, deepdao, how='outer', on='platformId', suffixes=('_messari', '_deepdao'))
combined

,platformType_messari,platformId,name,platformType_deepdao,website
0,Snapshot,ndx.eth,Indexed Finance,Snapshot,https://snapshot.org/#/ndx.eth
1,Snapshot,ndx.eth,Indexed Finance,Snapshot,https://snapshot.org/#/ndx.eth
2,Snapshot,snxgov.eth,Synthetix SCCP/SIP,Snapshot,https://snapshot.org/#/snxgov.eth
3,Snapshot,snxgov.eth,Synthetix SCCP/SIP,Snapshot,https://snapshot.org/#/snxgov.eth
4,Snapshot,snxgov.eth,Synthetix SCCP/SIP,Snapshot,https://snapshot.org/#/snxgov.eth
...,...,...,...,...,...
2240,NaN,sata.eth,Signata DAO,Snapshot,https://snapshot.org/#/sata.eth
2241,NaN,parrotdefi.eth,Parrot DeFi DAO,Snapshot,https://snapshot.org/#/parrotdefi.eth
2242,NaN,yioreea.eth,Yioreea,Snapshot,https://snapshot.org/#/yioreea.eth
2243,NaN,maha.eth,MahaDAO,Snapshot,https://snapshot.org/#/maha.eth
2244,NaN,mahapolygon.eth,MahaDAO,Snapshot,https://snapshot.org/#/mahapolygon.eth

In [181]:
# desribe
combined.describe()

,platformType_messari,platformId,name,platformType_deepdao,website
count,121,2142,2216,2215,2068
unique,2,1988,2100,10,2062
top,Snapshot,,AAVE,Snapshot,https://snapshot.org/#/snxgov.eth
freq,114,149,6,1971,3

In [182]:
# join the platform type columns, preserve both values if they are different
combined['platformType'] = combined['platformType_messari'].fillna(combined['platformType_deepdao'])
combined['platformTypeA'] = combined['platformType_messari'].fillna(combined['platformType_deepdao'])
combined['platformTypeB'] = combined['platformType_deepdao'].fillna(combined['platformType_messari'])
# where they are different, combine the values w comma
combined.loc[combined['platformTypeA'] != combined['platformTypeB'], 'platformType'] = combined['platformTypeA'] + ', ' + combined['platformTypeB']
# show where they are different
combined[combined['platformTypeA'] != combined['platformTypeB']]

,platformType_messari,platformId,name,platformType_deepdao,website,platformType,platformTypeA,platformTypeB
11,Snapshot,aave.eth,Aave (off-chain),Safe/Snapshot,https://snapshot.org/#/aave.eth,"Snapshot, Safe/Snapshot",Snapshot,Safe/Snapshot
26,Snapshot,balancer.eth,Balancer,Safe/Snapshot,https://snapshot.org/#/balancer.eth,"Snapshot, Safe/Snapshot",Snapshot,Safe/Snapshot
114,Tally,ampleforth,Ampleforth,Snapshot,https://snapshot.org/#/ampleforth,"Tally, Snapshot",Tally,Snapshot
186,NaN,,Rocketstar Foundation_2,NaN,NaN,NaN,NaN,NaN
255,NaN,,Favos,NaN,NaN,NaN,NaN,NaN

In [183]:
# remove platformTypeA and platformTypeB and platformType_messari and platformType_deepdao
combined = combined.drop(columns=['platformTypeA', 'platformTypeB', 'platformType_messari', 'platformType_deepdao'])
combined

,platformId,name,website,platformType
0,ndx.eth,Indexed Finance,https://snapshot.org/#/ndx.eth,Snapshot
1,ndx.eth,Indexed Finance,https://snapshot.org/#/ndx.eth,Snapshot
2,snxgov.eth,Synthetix SCCP/SIP,https://snapshot.org/#/snxgov.eth,Snapshot
3,snxgov.eth,Synthetix SCCP/SIP,https://snapshot.org/#/snxgov.eth,Snapshot
4,snxgov.eth,Synthetix SCCP/SIP,https://snapshot.org/#/snxgov.eth,Snapshot
...,...,...,...,...
2240,sata.eth,Signata DAO,https://snapshot.org/#/sata.eth,Snapshot
2241,parrotdefi.eth,Parrot DeFi DAO,https://snapshot.org/#/parrotdefi.eth,Snapshot
2242,yioreea.eth,Yioreea,https://snapshot.org/#/yioreea.eth,Snapshot
2243,maha.eth,MahaDAO,https://snapshot.org/#/maha.eth,Snapshot
2244,mahapolygon.eth,MahaDAO,https://snapshot.org/#/mahapolygon.eth,Snapshot

In [184]:
# remove duplicate rows
combined = combined.drop_duplicates(subset=['platformId'])
combined

,platformId,name,website,platformType
0,ndx.eth,Indexed Finance,https://snapshot.org/#/ndx.eth,Snapshot
2,snxgov.eth,Synthetix SCCP/SIP,https://snapshot.org/#/snxgov.eth,Snapshot
5,snapshot.dcl.eth,Decentraland,https://snapshot.org/#/snapshot.dcl.eth,Snapshot
6,ampleforthorg.eth,Ampleforth,https://snapshot.org/#/ampleforthorg.eth,Snapshot
8,1inch.eth,1inch Network,https://snapshot.org/#/1inch.eth,Snapshot
...,...,...,...,...
2240,sata.eth,Signata DAO,https://snapshot.org/#/sata.eth,Snapshot
2241,parrotdefi.eth,Parrot DeFi DAO,https://snapshot.org/#/parrotdefi.eth,Snapshot
2242,yioreea.eth,Yioreea,https://snapshot.org/#/yioreea.eth,Snapshot
2243,maha.eth,MahaDAO,https://snapshot.org/#/maha.eth,Snapshot
2244,mahapolygon.eth,MahaDAO,https://snapshot.org/#/mahapolygon.eth,Snapshot

In [185]:
# if website is of snapshot.org, and it is missing the platformType, set the platformType to Snapshot
combined.loc[(combined['website'].str.contains('snapshot.org')) & (combined['platformType'].isnull()), 'platformType'] = 'Snapshot'

# if website is of snapshot.org and has no platformId, extract the snapshot id
combined.loc[(combined['website'].str.contains('snapshot.org')) & (combined['platformId'].isnull()), 'platformId'] = combined['website'].apply(get_snapshot_id)

combined

/var/folders/yn/b6240_995k3gl4vwtnbzzy480000gq/T/ipykernel_42070/150532093.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined.loc[(combined['website'].str.contains('snapshot.org')) & (combined['platformType'].isnull()), 'platformType'] = 'Snapshot'
/var/folders/yn/b6240_995k3gl4vwtnbzzy480000gq/T/ipykernel_42070/150532093.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined.loc[(combined['website'].str.contains('snapshot.org')) & (combined['platformId'].isnull()), 'platformId'] = combined['website'].apply(get_snapshot_id)

,platformId,name,website,platformType
0,ndx.eth,Indexed Finance,https://snapshot.org/#/ndx.eth,Snapshot
2,snxgov.eth,Synthetix SCCP/SIP,https://snapshot.org/#/snxgov.eth,Snapshot
5,snapshot.dcl.eth,Decentraland,https://snapshot.org/#/snapshot.dcl.eth,Snapshot
6,ampleforthorg.eth,Ampleforth,https://snapshot.org/#/ampleforthorg.eth,Snapshot
8,1inch.eth,1inch Network,https://snapshot.org/#/1inch.eth,Snapshot
...,...,...,...,...
2240,sata.eth,Signata DAO,https://snapshot.org/#/sata.eth,Snapshot
2241,parrotdefi.eth,Parrot DeFi DAO,https://snapshot.org/#/parrotdefi.eth,Snapshot
2242,yioreea.eth,Yioreea,https://snapshot.org/#/yioreea.eth,Snapshot
2243,maha.eth,MahaDAO,https://snapshot.org/#/maha.eth,Snapshot
2244,mahapolygon.eth,MahaDAO,https://snapshot.org/#/mahapolygon.eth,Snapshot

In [188]:
# show rows where platformType or platformId is null
combined[combined['platformType'].isnull() | combined['platformId'].isnull()]

,platformId,name,website,platformType
303,NaN,MetaClan,https://daohaus.club/dao/v2/0xb5cef5887a0b46d8...,Moloch / Daohaus

In [189]:
# and remove em
combined = combined.dropna(subset=['platformType', 'platformId'])

In [190]:
# drop website column
combined = combined.drop(columns=['website'])

In [191]:
# drop dupe rows
combined = combined.drop_duplicates(subset=['platformId', 'platformType'])
combined.shape

(1988, 3)

In [193]:
# reorder columns id, type, name
combined = combined[['platformId', 'platformType', 'name']]
combined

             platformId platformType                name
0               ndx.eth     Snapshot     Indexed Finance
2            snxgov.eth     Snapshot  Synthetix SCCP/SIP
5      snapshot.dcl.eth     Snapshot        Decentraland
6     ampleforthorg.eth     Snapshot          Ampleforth
8             1inch.eth     Snapshot       1inch Network
...                 ...          ...                 ...
2240           sata.eth     Snapshot         Signata DAO
2241     parrotdefi.eth     Snapshot     Parrot DeFi DAO
2242        yioreea.eth     Snapshot             Yioreea
2243           maha.eth     Snapshot             MahaDAO
2244    mahapolygon.eth     Snapshot             MahaDAO

[1988 rows x 3 columns]

In [194]:
# save as csv
combined.to_csv('messari_deepdao_organizations.csv', index=False)